<div id="formWrapper">
    <form [formGroup]="newListForm" (ngSubmit)="onSubmit()" id="frm_add">
        <mat-form-field appearance="fill">
            <mat-label>New list</mat-label>
            <input matInput formControlName="name">
        </mat-form-field>
        <button [disabled]="busy"  type="submit" _ngcontent-hys-c30="" mat-fab=""
            class="mat-fab mat-button-base mat-accent" [ngClass]="{'busy': busy}">
            <mat-icon _ngcontent-hys-c30="" role="img"
                class="mat-icon notranslate spin360 material-icons mat-icon-no-color" aria-hidden="true">add</mat-icon>
        </button>
    </form>
</div>