mat-icon.btn_delete {
    position: absolute;
    top: 20px;
    right: 10px;
    cursor: pointer;
}
mat-card {
    padding: 10px 5px 5px 5px;
    margin: 8px;
}
mat-card.checked {
    color: #ccc;
    text-decoration: line-through;

    .btn_complete {
        visibility: hidden;
    }

}