<h2>Your grocery lists</h2>
<div *ngIf="lists">
    <div *ngFor="let list of lists">
        <mat-card 
            class="task" 
            (swipeleft)="swipeleft(list)"
            (swiperight)="swiperight(list)"
            [@slideInOut]="animationState"
            (@slideInOut.done)="resetAnimationState()">
            <mat-card-header
                (press)="press(list)"
                (tap)="tap(list)">
                <mat-card-title>
                    {{list.name}}
                </mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <mat-icon (click)="deleteList(list)" _ngcontent-hys-c30="" role="img"
                class="btn_delete mat-icon notranslate spin360 material-icons" aria-hidden="true">delete</mat-icon>
            </mat-card-content>
        </mat-card>
    </div>
</div>
<app-new-list
    #newListComponent
    (add)="addList($event)"
>
</app-new-list>
