<mat-toolbar>
    <span>LOGIN / REGISTER</span>
  </mat-toolbar>
  <mat-card class="my-card">
     <mat-card-content>
        <form class="my-form">
           <mat-form-field class="full-width">
              <mat-label>User name</mat-label>
              <input  matInput  placeholder="Email" name="username" type="text" [(ngModel)]="username">
           </mat-form-field>
           <mat-form-field class="full-width">
              <mat-label>Password</mat-label>
              <input  matInput  placeholder="Password" name="password" type="password" [(ngModel)]="password">
           </mat-form-field>
        </form>
     </mat-card-content>
     <mat-card-actions>
      <button mat-raised-button (click)="login()" color="primary">LOGIN</button>
      <button mat-raised-button (click)="register()" color="primary">REGISTER</button>
      <button mat-raised-button (click)="registerDevice()" color="primary">REGISTER DEVICE</button>
   </mat-card-actions>
  </mat-card>