<mat-card 
    class="task" 
    [ngClass]="{'checked': task.checked}" 
    *ngIf="task && !task.checked" 
    (swipeleft)="swipeleft()"
    (swiperight)="swiperight()"
    (press)="press()"
    (tap)="tap()"
    [@slideInOut]="animationState"
    (@slideInOut.done)="resetAnimationState()">
    <mat-card-header>
        <mat-card-title>
            <button (click)="check.emit()" _ngcontent-hys-c30="" mat-fab=""
                class="btn_complete mat-fab mat-button-base mat-accent">
                <mat-icon _ngcontent-hys-c30="" role="img"
                    class="mat-icon notranslate spin360 material-icons mat-icon-no-color" aria-hidden="true">check</mat-icon>
            </button>
            {{task.name}}
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <mat-icon (click)="delete.emit()" _ngcontent-hys-c30="" role="img"
        class="btn_delete mat-icon notranslate spin360 material-icons" aria-hidden="true">delete</mat-icon>
    </mat-card-content>
</mat-card>
  