<mat-toolbar color="primary">
  <a  [routerLink]="['/lists']" *ngIf="['/','/login','/lists'].indexOf(router.url) === -1" title="back"><mat-icon aria-label="Back">arrow_back</mat-icon></a>
  <span class="title">{{ title }}</span>
  <a href="" *ngIf="authenticated$ | async" (click)="logout()" title="logout"><mat-icon aria-label="Logout">logout</mat-icon></a>
</mat-toolbar>
<div id="wrapper">
  <router-outlet></router-outlet>
</div>
