<h2 *ngIf="list">{{ list.name }}</h2>
<div id="tasklist">
    <app-task 
    *ngFor="let task of tasks; let idx=index" 
    [task]="task" 
    (delete)="deleteTask(task)"
    (check)="checkTask(task)"
    >
    </app-task>
</div>
<app-new-task
    #newTaskComponent
    (add)="addTask($event)"
>
</app-new-task>

