@media screen and (min-width: 992px) {
  #formWrapper {
    margin: 0 auto;
    width: 992px;
  }
}

@media screen and (max-width: 992px) {
  #formWrapper {
    margin: 0 auto;
    width: 100%;
  }
}

#formWrapper {
  
  position: fixed;
  bottom: -22px;
  #frm_add {
    background-color: rgba(255, 255, 255, 0.8);
    width: 100%;

    mat-form-field {
      width: 100%;
    }

    button {
      margin-left: 10px;
      position: absolute;
      right: 10px;
    }
  }
}
  
  