<div id="formWrapper">
  <form [formGroup]="newTaskForm" (ngSubmit)="onSubmit()" id="frm_add">
    <mat-form-field appearance="fill">
      <mat-label>New product</mat-label>
      <input matInput formControlName="name">
    </mat-form-field>
    <button type="submit" _ngcontent-hys-c30="" mat-fab="" class="mat-fab mat-button-base mat-accent">
      <mat-icon _ngcontent-hys-c30="" role="img" class="mat-icon notranslate spin360 material-icons mat-icon-no-color"
        aria-hidden="true">add</mat-icon>
    </button>
  </form>
</div>
